%body
  = render :partial => '/header', :locals => { :page_title => 'Join the Email List' }
  .wrapper
    %section
      = render :partial => '/nav'
      %article
        %h2 Sign Up for the email list
    = render :partial => '/footer'
