.left
  = render 'layouts/sidebar'

.right
  %section
    %article
      %h2 Create a new site announcement
      %p Here you can create an announcment that will appear on the left side of each page of the website.
      = render 'announcement_form'
