.left
  = render 'layouts/sidebar'

.right
  %section
    %article
      #registration
        %h2 Edit registeration for #{ event.name }
        %p Step 1 of 2 (your information)
        = simple_form_for registration, url: event_registration_path, method: 'put' do |f|
          = render partial: 'form', locals: { f: f }
