.left
  - if current_member
    = render 'members/actions'

%section.right
  #registration
    %h3 Register for #{ event.name }
    %p Step 1 of 2 (your information)
    = simple_form_for registration, url: event_registrations_path, method: 'post' do |f|
      = render partial: 'form', locals: { f: f }
