.left
  - if current_member
    = render 'members/actions'

.right
  %h3 Mission Statement
  %p
    DP Thomas Foundation for Obesity promotes healthy living as a way to combat obesity and its negative affect on society by educating the community on nutrition, exercise, and the importance of maintaining a balanced lifestyle.
  %hr
  %h3 Vision Statement
  %p
    The DP Thomas Foundation for Obesity envisions a distinctively different outlook of the obesity epidemic, where communities gain the knowledge of proper nutrition, accountability and exercise to help its citizens achieve and maintain a balanced lifestyle, free from obesity.
