%body
  %header#index_header
    = image_tag('dpfound_lrg.png', width: "486", height: "287")
    %p Join the #{ link_to @email_list.title.downcase, :root }
    %div
      %h1 Welcome to the DP Thomas Home Page
    %ul
      - @pages.each do |page|
        %li
          = link_to page.title, pages_path(7)
