@charset 'UTF-8'

$dolly_blue:       #99B4CB
$dark_gray:        #38434B
$background_matte: #22394B
$light_gray:       #435059
$charcoal:         #252B33
$muted_red:        #610A06

$screen:     "only screen"
$xtra_small: "only screen and (max-width:768px)"
$small:      "only screen and (min-width:768px)"
$medium:     "only screen and (min-width:1280px)"

html
  font-family: Arial, sans-serif
  height: 100%
  max-height: 100%
  margin: 0
  padding: 0
  border: 0
  overflow: hidden

body
  height: 100%
  max-height: 100%
  width: 100%
  margin: 0
  padding: 0
  border: 0

ul
  list-style: none

a
  text-decoration: none

hr
  display: block
  height: 1px
  border: 0
  margin: 1em 0
  padding: 0
  border-top: 1px solid white

.left
  width: 34.1%
  min-width: 30%
  min-height: 1px
  margin: 0 1% 0 3%
  float: left

.right
  width: 55.9%
  margin: 0 3% 0 1%
  float: left

header
  position: absolute
  margin: 0
  top: 0
  display: block
  width: 100%
  z-index: 5
  background: $dark_gray
  font-size: 1.5em
  a
    color: $dolly_blue
  hr
    border-top: 1px solid $dolly_blue
  ul
    height: 55px
    margin: 10px 2% 0
    padding: 0
  li
    float: left
    width: 25%
    height: 35px
    padding-top: 10px
    text-align: center
    .nav-item
      width: 80%
      margin: 0 auto
      line-height: 35px
      background: $light_gray
      border: 2px solid $dark_gray
      border-radius: 12px
      &:hover
        background: $charcoal

#title-bar
  height: 262px
  margin: 10px 0 0
  padding: 0 5%
  width: 100%
  background: $light_gray
  .left
    padding: 10px 0
    background: $light_gray
    img
      width: 100%
      max-width: 400px
      background: $dark_gray
      border-radius: 40px
  .right
    margin-top: 10px
  h1, h2
    margin: 0
    color: $dolly_blue

#top-back
  height: 325px

.wrapper, header #title-bar
  height: 100%
  max-height: 100%
  width: 100%
  max-width: 100%
  padding: 0
  background: $light_gray
  display: block
  overflow: scroll
  position: relative
  z-index: 3

#flash
  .right
    margin: 10px 0
    color: $muted_red
    font-size: 1.5em

#content
  .right
    background: $dolly_blue
    border-radius: 40px
  h3
    font-size: 1.5em
    margin-bottom: 5px
  a, a:visited
    color: white
    font-style: italic

section.right
  .discussion
    padding: 0
    div
      padding: 0
  article
    padding: 20px 20px 20px
  h3
    margin-top: 0

footer
  min-height: 100px
  width: 100%
  padding: 10px 0
  margin-bottom: 100px
  clear: both
  hr
    border-top: 1px solid $dolly_blue
  address.right
    background: $dark_gray
    text-align: center
    li#tax-exempt
      width: 50%
      margin-left: 25%
      margin-right: 25%
  a
    color: $dolly_blue

#member-session
  width: 300px
  background: $dolly_blue
  border-radius: 12px
  padding: 10px
  position: fixed
  bottom: 10px
  left: 5%

address
  background: $light_gray
  border-radius: 40px
  float: left
  div
    padding: 2px 20px
  ul
    margin: 5px 20px
    padding: 0

#sign-in
  float: right
  a, a:visited
    color: $dolly_blue
  margin-bottom: 20px
  padding-right: 20px

.discussion
  a.large-link, .title
    font-size: 1.2em
  .title, .details, .content
    margin-bottom: 5px
  .content, .details
    margin-left: 10px
  .details
    font-style: italic
  hr
    border-top: 1px solid white

#events
  padding: 0
  h3
    font-size: 1.25em
  div
    padding: 0
  .event-title
    font-size: 1.2em
  .event-date, .event-location
    margin-left: 10px
  .event-location
    margin-bottom: 10px
  .event
    margin-bottom: 20px

#member-actions
  background: $dolly_blue
  border-radius: 40px
  div
    padding: 5px 20px 20px
  .title
    margin-top: 10px
    font-size: 1.2em

#action-items
  div
    padding: 0
  div:last-child
    margin-bottom: 10px

#member-links
  margin-top: 10px

.info
  margin: 10px 0 0 10px

.member_profile
  .bio
    padding: 0
  padding-bottom: 0
  img
    float: left
    margin-right: 10px
  p:first-child
    margin-top: 0

.announcement
  text-align: center
  background: $muted_red
  border-radius: 40px
  font-family: 'Carter One', Arial
  margin-bottom: 10px
  div
    padding: 20px 10px
    .headline
      font-size: 2em
    .annoucement-details
      font-size: 1.3em
    .headline, .annoucement-details
      padding: 5px

.hidden
  display: none

.clear
  clear: both
  height: 1px
