$charcoal:    #252B33
$dark-gray:   #38434B
$dolly-blue:  #C0E2FF
$light-blue:  #C0E2FF
$light-gray:  #435059
$link-gray:   #808080
$medium-blue: #A9C7E0
$muted-red:   #610A06
$sand:        #615849

$screen:     "only screen"
$xtra_small: "only screen and (max-width:768px)"
$small:      "only screen and (min-width:768px)"
$medium:     "only screen and (min-width:1280px)"

html
  font-family: Arial, sans-serif
  height: 100%
  max-height: 100%
  margin: 0
  padding: 0
  border: 0

body
  height: 100%
  max-height: 100%
  width: 100%
  margin: 0
  padding: 0
  border: 0
  background: $light-gray

ul
  list-style: none

a
  text-decoration: none

hr
  display: block
  height: 1px
  border: 0
  margin: 1em 0
  padding: 0
  border-top: 1px solid $link-gray

.left
  width: 34.1%
  min-width: 30%
  min-height: 1px
  margin: 0 1% 0 3%
  float: left

.right
  width: 55.9%
  margin: 0 3% 0 1%
  float: left

header
  position: fixed
  margin: 0
  top: 0
  display: block
  width: 100%
  z-index: 5
  background: $dark-gray
  font-size: 1.5em
  height: 70px
  border-bottom: 5px solid $dolly-blue
  a
    color: $dolly-blue
  hr
    border-top: 1px solid $dolly-blue
  ul
    width: 100%
    height: 55px
    margin: 10px 2% 0
    padding: 0
  li
    float: left
    width: 25%
    height: 35px
    padding-top: 10px
    text-align: center
    .nav-item
      width: 80%
      margin: 0 auto
      line-height: 35px
      background: $light-gray
      border: 2px solid $dark-gray
      border-radius: 12px
      &:hover
        background: $charcoal

#title-bar
  margin: 75px 0 10px
  background: $charcoal
  z-index: 4
  padding-bottom: 10px
  width: 100%
  .left
    padding: 10px 0
    img
      width: 75%
      max-width: 350px
      min-width: 270px
      background: $dark-gray
      border-radius: 40px
  .right
    margin-top: 10px
  h1, h2
    margin: 0
    color: $dolly-blue

.wrapper
  height: 100%
  max-height: 100%
  width: 100%
  max-width: 100%
  padding: 0
  background: $light-gray
  display: block
  position: relative
  z-index: 3

#content
  z-index: 2
  h3
    font-size: 1.5em
    margin-bottom: 5px
  a, a:visited
    color: $link-gray
    font-style: italic
  .left, .right
    margin-top: 1%

.right section
  border-radius: 40px
  background: $dolly-blue
  margin-bottom: 10px
  article
    padding: 10px 20px
    h2
      font-size: 2.2em
    .content-item
      padding: 15px
      margin: 10px 0
      border-radius: 20px
      background: $medium-blue

.discussion
  padding: 0
  div
    padding: 0
h3
  margin-top: 0

.content-item
  background: $light-blue

footer
  min-height: 100px
  width: 100%
  padding: 10px 0
  clear: both
  hr
    border-top: 1px solid $dolly-blue
  address
    margin: 0 1% 50px 1%
    background: $dark-gray
    border-radius: 40px
    text-align: center
    div
      padding: 2px 20px
    li#tax-exempt
      width: 30%
      margin-left: 35%
      margin-right: 35%
    ul
      margin: 5px 20px
      padding: 0
  a
    color: $dolly-blue

#sign-in
  float: right
  a, a:visited
    color: $dolly-blue
  margin-bottom: 20px
  padding-right: 20px

.discussion
  a.large-link, .title
    font-size: 1.2em
  .title, .details, .content
    margin-bottom: 5px
  .content, .details
    margin-left: 10px
  .details
    font-style: italic
  hr
    border-top: 1px solid $link-gray

.events
  padding: 0
  h3
    font-size: 1.25em
  div
    padding: 0
  .event-title
    font-size: 1.2em
  .event-date, .event-location
    margin-left: 10px
  .event-location
    margin-bottom: 10px
  .event
    margin-bottom: 20px

#member-actions, .flash
  border-radius: 40px
  margin-bottom: 10px
  font-style: italic
  .inner
    padding: 5px 20px 10px
  .title
    margin-top: 10px
    font-size: 1.2em

#member-actions
  background: $dolly-blue

.flash
  background: $sand
  font-size: 1.3em

#action-items
  div
    padding: 0
  div:last-child
    margin-bottom: 10px

#member-links
  margin-top: 10px
  a
    color: $link-gray

.info
  margin: 10px 0 0 10px

.member_profile
  .bio
    padding: 0
  padding-bottom: 0
  img
    float: left
    margin-right: 10px
  p:first-child
    margin-top: 0

#content
  .announcement
    background: $muted-red
    border-radius: 40px
    font-family: 'Carter One', Arial
    margin-bottom: 10px
    font-size: 1.4em
    padding: 10px
    h2, h3, p
      margin: 0

table
  th
    text-align: left
  td, th
    padding-right: 15px
  td.children, td.adults
    text-align: center

h2.centered
  text-align: center
  margin: 20px 0

.hidden
  display: none

.clear
  clear: both
  height: 1px

.facebook
  padding: 20px
  margin-bottom: 20px
  border-radius: 40px
  background: $sand
  h3
    font-family: 'Carter One', Arial
