@charset 'UTF-8'

$dolly_blue:       #99B4CB
$dark_gray:        #38434B
$background_matte: #22394B
$light_gray:       #435059

$screen:     "only screen"
$xtra_small: "only screen and (max-width:768px)"
$small:      "only screen and (min-width:768px)"
$medium:     "only screen and (min-width:1280px)"
