@media screen and (max-width: 1280px)
  h1, h2
    font-size: 1.6em

  header
    ul
      height: 45px
      margin: 0 2%
    li
      height: 25px
    .nav-item
      line-height: 25px

  #top-back
    height: 300px

  #title-bar
    height: 212px

  footer
    address.right
      li#tax-exempt
        width: 68%
        margin-right: 16%
        margin-left: 16%
