$light-gray: #BDBDBD
$dolly-blue: #C0E2FF

.left section#photo-gallery
  background-color: $dolly-blue

.right section#photo-gallery
  background-color: $light-gray
  border-radius: 15px
  padding: 10px

section#photo-gallery
  article
    div
      display: flex
      justify-content: center
      img.active
        display: block
      img
        display: none
