$charcoal: #252B33

section#photo-gallery, section#walk-run-gallery
  height: 350px
  width: 85%
  margin: 0 auto 10px
  position: relative
  background: $charcoal
  overflow: hidden
  border-radius: 20px
  article
    height: inherit
    padding: 0
    overflow: hidden
  img
    width: 90%
    height: 90%
    display: block
    right: 300%
    top: 5%
    position: absolute
    border-radius: 20px
  img.active
    left: 5%

section#flyer
  margin: 20px auto
  width: 85%
  height: 700px
  position: relative
  img
    width: 80%
    height: 90%
    top: 5%
    left: 10%
    position: absolute
