%footer
  DP Thomas Foundation for Obesity
  %br
  P. O. Box 70262
  %br
  Nashville, Tennessee 37207
  %br
  phone: (615) 474-1286
  %br
  email: #{ mail_to "example@example.com", 'dpthomasfoundation@gmail.com' }

