%footer
  .contact
    #footer-title
      %strong DP Thomas Foundation for Obesity
    .address
      .street P. O. Box 70262
      .city-state Nashville, TN 37207
      .phone Phone: (615) 474-1286
      .email Email: #{mail_to 'dpthomasfoundation@gmail.com'}
    %hr
    #tax-exempt
      %em The DP Thomas Foundation is a 501(c)-3 organization.
      %br
      %em All donations and contributions are tax deductible
