%footer
  .left
  %address.right
    %div
      %ul
        %li
          %strong DP Thomas Foundation for Obesity
        %li P. O. Box 70262 Nashville, TN 37207
        %li (615) 474-1286
        %li= mail_to 'dpthomasfoundation.gmail.com'
        %hr
        %li#tax-exempt
          %em The DP Thomas Foundation is a 501(c)-3 organization. All donations and contributions are tax deductible
  - unless current_member
    .left
    .right
      #sign-in
        = link_to 'member sign in', new_member_session_path
