%ul
  = link_to events_path do
    %li
      .nav-item Events
  = link_to members_path do
    %li
      .nav-item About Us
  = link_to services_path do
    %li
      .nav-item Services
  = link_to donations_path do
    %li
      .nav-item Donate
