.quarter-block
  .link-wrapper
    = link_to events_path do
      .link-button Events

.quarter-block
  .link-wrapper
    = link_to members_path do
      .link-button About Us

.quarter-block
  .link-wrapper
    = link_to services_path do
      .link-button Services

.quarter-block
  .link-wrapper
    = link_to donations_path do
      .link-button Donate
