%ul
  %li
    .nav-item= link_to "Events", events_path
  %li
    .nav-item= link_to "About Us", members_path
  %li
    .nav-item= link_to "Services", services_path
  %li
    .nav-item= link_to "Donate", donations_path
