- assets_root = 'http://dpthomas.org/_assets/shelby_walk_run/2013-shelby-walk/'
%section#photo-gallery
  %article
    %div#side-bar-photos
      - (twenty_twelve_images + twenty_thirteen_images).shuffle.each do |image|
        = image_tag image
