- if flash.any?
  .flash
    .inner
      - flash.each do |type, message|
        %em #{type.capitalize}: #{message}

- if announcements.any?
  - announcements.each do |announcement|
    .announcement
      .inner= announcement.announcement.html_safe

- if current_member
  = render 'members/actions'
