%body
  = render :partial => '/header', :locals => { :page_title => 'About Us' }
  .wrapper
    %section
      = render :partial => '/nav'
      %article
        = render :partial => '/flash_message'
        %h2
    = render :partial => '/footer'
